{{!< default}}


<div class="drawer drawer--right">
    <section class="bigfeatures" style="background-image: url(/content/images/contactusbg.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2 class="text42 w800 whitetext">Get in Touch!</h2>
                </div>
            </div>
        </div>
    </section>
    <section class="topbottompadding50 bluebg">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="row">
                        <div class="col-md-6 bottompadding30">
                            <h3 class="text24 w500 topmargin0">We're happy to answer any questions you have or provide you with an estimate. Send us a message in the form below.</h3>
                            <div>
                                <div id='frmFormMailContainer'>
                                    <form name="frmFormMail" id="frmFormMail" target="submitToFrame" action="https://formspree.io/info@puget.tech" method="POST">
                                        <div class="form-group field_block" id='field_0_div'>
                                            <label>Name:</label>
                                            <input class="form-control input-lg" placeholder="Enter your name" id="field_0" name="name" />
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group field_block" id="field_1_div">
                                                    <label>Email:</label>
                                                    <input class="form-control input-lg" placeholder="Enter your email address" id="field_1" name="_replyto" />
                                                    <div id='field_1_tip' class='instruction'></div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group field_block" id="field_2_div">
                                                    <label>Phone:</label>
                                                    <input class="form-control input-lg" name="phone" placeholder="Enter your phone number" id="field_2" />
                                                    <div id='field_3_tip' class='instruction'></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group field_block" id="field_3_div">
                                            <label>Company Name:</label>
                                            <input class="form-control input-lg" placeholder="Enter your company name" name="company" id="field_3" />
                                            <div id='field_3_tip' class='instruction'></div>
                                        </div>
                                        <div class="form-group field_block" id="field_4_div">
                                            <label>Message:</label>
                                            <textarea rows="4" class="form-control input-lg" placeholder="Enter your message" name="message" id="field_4"></textarea>
                                            <div id='field_4_tip' class='instruction'></div>
                                        </div>
                                        <div>
                                            <button type="submit" class="btn btn-blue topmargin10" value="Send">SEND MESSAGE</button>
                                        </div>
                                        <input type="hidden" name="_cc" value="zach@puget.tech" />
                                        <input type="hidden" name="_next" value="https://puget.tech" />
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 col-md-offset-1">
                            <div class="phone2">
                                <h5 class="text30 w700">Call or Text:</h5>
                                <p class="text18 w700"><a href="tel:+1(360)722-9563">+1 (360) 722-9563</a></p>
                                <hr>
                            </div>
                            <div class="location2">
                                <h5 class="text30 w700">Address:</h5>
                                <p class="text18 w700"><a href="https://goo.gl/maps/Sb2qLig4PRx" target="_blank">848 N Sunrise Blvd. STE E201<br>
                                    Camano Island, WA 98282</a>
                                </p>
                                <hr>
                            </div>
                            <div class="email2">
                                <h5 class="text30 w700">Email:</h5>
                                <p class="text18 w700"><a href="mailto:info@puget.tech">info@puget.tech</a></p>
                                <hr>
                                <h5 class="text30 w700">Socialize:</h5>
                                <p class="social"> <a href="https://www.facebook.com/Puget-Tech-985726864968550/" target="_blank"><img src="/content/images/facebook2.svg" alt="Social" height="35px"></a> <a href="https://twitter.com/puget_tech" target="_blank"><img src="/content/images/twitter2.svg" alt="Social" height="35px"></a> <a href="https://www.linkedin.com/company/puget-tech" target="_blank"><img src="/content/images/in2.svg" alt="Social" height="35px"></a> </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    
</div>