{{!< default}}


<div class="drawer drawer--right">
    <section class="topbottompadding50">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 topbottompadding30">
                    <div class="maintextbg">
                        <h1 class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">Custom CRM Integrations</h1>
                        <p class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s">Find out how integrating your Customer Relationship Management Software with other business systems can boost productivity.</p>
                        <a href="https://calendly.com/puget-tech" class="btn btn-blue2 topmargin10 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">SCHEDULE CALL</a> <a class="btn btn-blue leftmargin25 topmargin10 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.6s" data-toggle="modal" data-target=".requestaquote">REQUEST A QUOTE</a> 
                    </div>
                </div>
                <div class="col-lg-6"> <img src="/assets/images/custimintegration.png" alt="Puget Tech" class="img-responsive wow zoomIn" data-wow-duration="1s" data-wow-delay="0.7s"> </div>
            </div>
        </div>
    </section>
    <section class="topbottompadding50 bluebg" id="services">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h3 class="text40 w700 topmargin0">Streamline Sales and Business Operations</h3>
                    <p class="text18 ln30 w300">We have witnessed that most organizations are using their CRM for more than just customer relations, and we keep this mind while developing a solution that fits your business needs. We've worked with many of the popular CRM's such as Salesforce and Hubspot. </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="row">
                        <div class="col-md-3 text-center topmargin30">
                            <img src="/assets/images/magnet.png" alt="Feature">
                            <p class="text16 w300 ln30">Zapier and other ready-to-go connectors for all major CRM, ERP, and marketing automation applications.</p>
                        </div>
                        <div class="col-md-3 text-center topmargin30">
                            <img src="/assets/images/gear.png" alt="Feature">
                            <p class="text16 w300 ln30">Integrate, replicate and migrate valuable business data from both cloud-based and on-premise applications.</p>
                        </div>
                        <div class="col-md-3 text-center topmargin30">
                            <img src="/assets/images/design.png" alt="Feature">
                            <p class="text16 w300 ln30">Intuitive, code-free graphical interface for simplified management of inventory and resources.</p>
                        </div>
                        <div class="col-md-3 text-center topmargin30">
                            <img src="/assets/images/documents.png" alt="Feature">
                            <p class="text16 w300 ln30">Self-documentation and collaboration features to simplify management of sales across their entire lifecycle</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="topbottompadding80">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h3 class="text40 w700 topmargin0">Platforms We've Worked With</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <div class="row">
                        <div class="col-md-4 topmargin30"><img src="/assets/images/dropbox.png" alt="Dropbox"></div>
                        <div class="col-md-4 topmargin30"><img src="/assets/images/salesforce.png" alt="Salesforce"></div>
                        <div class="col-md-4 topmargin30"><img src="/assets/images/slack.png" alt="Slack"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 topmargin30"><img src="/assets/images/zendesk.png" alt="Zendesk"></div>
                        <div class="col-md-4 topmargin30"><img src="/assets/images/hubspot.png" alt="Hubspot"></div>
                        <div class="col-md-4 topmargin30"><img src="/assets/images/quickbooks.png" alt="Quickbooks"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 topmargin30"><img src="/assets/images/sap.png" alt="SAP"></div>
                        <div class="col-md-4 topmargin30"><img src="/assets/images/xero.png" alt="Xero"></div>
                        <div class="col-md-4 topmargin30"><img src="/assets/images/mailchimps.png" alt="Mailchimp"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="bigfeatures" style="background-image: url(/assets/images/letschat.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h4 class="text40 whitetext w700 topmargin0">Let's Talk</h4>
                    <p class="text18 w700 whitetext ln30">Excited and ready to chat? Request a quote or contact us below and we'll schedule a call.</p>
                    <a class="btn btn-blue topmargin10 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.6s" data-wow-duration="1s" data-wow-delay="0.6s" data-toggle="modal" data-target=".requestaquote">REQUEST A QUOTE</a> <a href="contactus.html" class="btn btn-blue2 leftmargin25 topmargin10 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.6s">CONTACT US</a> 
                </div>
            </div>
        </div>
    </section>
</div>