{{!< default}}


<div class="drawer drawer--right">
    <section class="topbottompadding50">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 topbottompadding30">
                    <div class="maintextbg">
                        <h1 class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">eCommerce Solution</h1>
                        <p class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s">Over the years our team has worked on a range of software and web development projects. Below is a small sampling of some of our more interesting and challenging assignments.</p>
                        <a href="https://calendly.com/puget-tech" class="btn btn-blue2 topmargin10 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">SCHEDULE CALL</a> <a class="btn btn-blue leftmargin25 topmargin10 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.6s" data-toggle="modal" data-target=".requestaquote">REQUEST A QUOTE</a> 
                    </div>
                </div>
                <div class="col-lg-6"> <img src="/assets/images/ecommerce.png" alt="Puget Tech" class="img-responsive wow zoomIn" data-wow-duration="1s" data-wow-delay="0.7s"> </div>
            </div>
        </div>
    </section>
    <section class="topbottompadding50 bluebg" id="services">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h3 class="text40 w700 topmargin0">How Custom Integration Can Help</h3>
                    <p class="text18 ln30 w300">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur pellentesque, neque venenatis aliquam hendrerit, nisi turpis gravida urna, ac imperdiet libero risus interdum tellus. Sed non dolor. Curabitur eget enim nec augue venenatis scelerisque. Integer mattis eros tincidunt sapien.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="row">
                        <div class="col-md-3 text-center topmargin30">
                            <img src="/assets/images/store.png" alt="Feature">
                            <p class="text18 w700 ln30">A scalable, all-in-one solution</p>
                        </div>
                        <div class="col-md-3 text-center topmargin30">
                            <img src="/assets/images/converts.png" alt="Feature">
                            <p class="text18 w700 ln30">Build a beautiful store that converts</p>
                        </div>
                        <div class="col-md-3 text-center topmargin30">
                            <img src="/assets/images/sales.png" alt="Feature">
                            <p class="text18 w700 ln30">Increase your sales</p>
                        </div>
                        <div class="col-md-3 text-center topmargin30">
                            <img src="/assets/images/mobileecommerce.png" alt="Feature">
                            <p class="text18 w700 ln30">Optimize your business</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="topbottompadding80">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h3 class="text40 w700 topmargin0">Technologies We Work With</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <div class="row">
                        <div class="col-md-4 topmargin30"><img src="/assets/images/woocommerce.jpg" alt="Technology"></div>
                        <div class="col-md-4 topmargin30"><img src="/assets/images/spree.jpg" alt="Technology"></div>
                        <div class="col-md-4 topmargin30"><img src="/assets/images/shopify.jpg" alt="Technology"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 topmargin30"><img src="/assets/images/magento.jpg" alt="Technology"></div>
                        <div class="col-md-4 topmargin30"><img src="/assets/images/moltin.jpg" alt="Technology"></div>
                        <div class="col-md-4 topmargin30"><img src="/assets/images/stripe.jpg" alt="Technology"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 topmargin30"><img src="/assets/images/chargebee.jpg" alt="Technology"></div>
                        <div class="col-md-4 topmargin30"><img src="/assets/images/bigcommerce.jpg" alt="Technology"></div>
                        <div class="col-md-4 topmargin30"><img src="/assets/images/solidus.jpg" alt="Technology"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="bigfeatures" style="background-image: url(/assets/images/letschat.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h4 class="text40 whitetext w700 topmargin0">Let's Chat</h4>
                    <p class="text18 w700 whitetext ln30">Impressed and ready to talk? Request a quote or contact us for a more thorough portfolio walkthrough.</p>
                    <a class="btn btn-blue topmargin10 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.6s" data-wow-duration="1s" data-wow-delay="0.6s" data-toggle="modal" data-target=".requestaquote">REQUEST A QUOTE</a> <a href="contactus.html" class="btn btn-blue2 leftmargin25 topmargin10 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.6s">CONTACT US</a> 
                </div>
            </div>
        </div>
    </section>
</div>