{{!< default}}


<div class="">
    <section class="topbottompadding50">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 toppadding30">
                    <div class="maintextbg">
                        <h1 class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">Innovative Solutions for Discerning Businesses</h1>
                        <p class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s">We’re a software and web development agency in the Pacific Northwest helping small to medium-sized companies build technology that works. <strong class="bluetext">We make the complicated easy.</strong></p>
                        <a href="https://calendly.com/puget-tech" class="btn btn-blue2 topmargin10 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">SCHEDULE CALL</a> <a class="btn btn-blue leftmargin25 topmargin10 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.6s" data-toggle="modal" data-target=".requestaquote">REQUEST A QUOTE</a> 
                    </div>
                </div>
                <div class="col-lg-6 toppadding30"> <img src="/assets//assets/images/homepageimg.png" alt="Puget Tech" class="img-responsive wow zoomIn" data-wow-duration="1s" data-wow-delay="0.7s"> </div>
            </div>
        </div>
    </section>
    <section class="topbottompadding50 bluebg" id="services">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h3 class="text40 w800 topmargin0">What Do We Do?</h3>
                    <p class="text20 w300">We build tools that make your business hum! <img src="/assets//assets/images/smiley.png" alt="Smiley"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s">
                    <a class="servicebox" style="background-image: url(/assets//assets/images/mobileapplication.png);">
                        <h2 class="text20 w500 topmargin0">Mobile Applications</h2>
                        <p class="text15 w300 ln22">We deliver powerful, feature-rich, cross-platform mobile solutions. Whether you need business productivity tools or you’re trying to build the next great app, we can help.</p>
                    </a>
                </div>
                <div class="col-lg-4 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
                    <a class="servicebox" style="background-image: url(/assets//assets/images/webapplications.png);">
                        <h2 class="text20 w500 topmargin0">Web Applications</h2>
                        <p class="text15 w300 ln22">Web apps are an excellent choice if both mobile and desktop users need access to your application. All they need is a web browser and they’re ready to go! Let us show you how.</p>
                    </a>
                </div>
                <div class="col-lg-4 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
                    <a class="servicebox" style="background-image: url(/assets//assets/images/ecommersolutions.png);">
                        <h2 class="text20 w500 topmargin0">eCommerce Solutions</h2>
                        <p class="text15 w300 ln22">There are so many choices in eCommerce today. Let us declutter the landscape and pick the right platform for your needs. Our eCommerce solutions look great and, most importantly, sell!</p>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">
                    <a class="servicebox" style="background-image: url(/assets//assets/images/webdesign.png);">
                        <h2 class="text20 w500 topmargin0">Web Design</h2>
                        <p class="text15 w300 ln22">Websites should look good but more importantly they should create tangible value. We build powerful sites that generate leads and integrate with your systems to help your busness grow.</p>
                    </a>
                </div>
                <div class="col-lg-4 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                    <a class="servicebox" style="background-image: url(/assets//assets/images/customintegrations.png);">
                        <h2 class="text20 w500 topmargin0">Custom Integrations</h2>
                        <p class="text15 w300 ln22">If you have multiple systems that need to talk and you’re wasting valuable time on repetitive data entry, let us help you integrate everything into one seamless, fluent system.</p>
                    </a>
                </div>
                <div class="col-lg-4 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">
                    <a class="servicebox" style="background-image: url(/assets//assets/images/cloudadministration.png);">
                        <h2 class="text20 w500 topmargin0">Cloud Administration</h2>
                        <p class="text15 w300 ln22">Migrating your critical business infrastructure to the cloud is a smart move for any business. Let us optimize and manage the process for you with AWS, Google Cloud, Azure, and more!</p>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="bigfeatures" style="background-image: url(/assets//assets/images/testimonialsbg.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h4 class="text40 w700 whitetext topmargin0">What Our Clients Say</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center topmargin30">
                            <div id="testimonialsslider" class="carousel slide carousel-fade" data-ride="carousel" data-pause="false" data-interval="7000">
                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#testimonialsslider" data-slide-to="0" class="active"></li>
                                    <li data-target="#testimonialsslider" data-slide-to="1"></li>
                                </ol>
                                <!-- Wrapper for slides -->
                                <div class="carousel-inner" role="listbox">
                                    <div class="item active">
                                        <img src="/assets//assets/images/testimonial1.png" alt="Man">
                                        <h4 class="text20 whitetext w700 topmargin10">Jesse C.</h4>
                                        <p class="text20 w300 whitetext"><em> Zach and the team are easy to work with and very professional! Got our restaurant's online and mobile ordering system up and running in less than a week. Good communication process and quality work the whole way through. </em></p>
                                    </div>
                                    <div class="item">
                                        <img src="/assets//assets/images/testimonial2.png" alt="Man">
                                        <h4 class="text20 whitetext w700 topmargin10">Clayton C.</h4>
                                        <p class="text20 w300 whitetext"><em> I've worked with Zach and Muddaser on several projects in the past, they are solid engineers who approach every problem from a realistic standpoint. They are approachable, responsive, and easy to work with. </em></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="topbottompadding50" id="aboutus">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 toppadding50"> <img src="/assets//assets/images/howdidwegethere.png" alt="How did we get here" class="img-responsive wow zoomIn" data-wow-duration="1s" data-wow-delay="0.2s"> </div>
                <div class="col-lg-6 toppadding50">
                    <div class="row">
                        <div class="col-lg-12 xs-center">
                            <h3 class="text42 w700 topmargin0 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">Our Background</h3>
                            <p class="text18 w300 ln25 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s">Our core team has been collaborating together in the tech startup industry for years, both as engineers and entrepreneurs. We’ve seen startups enjoy stratospheric growth purely on the merits of their technology. Puget Tech is our opportunity to bring that sort of innovative thinking to small and medium-sized businesses. We don’t design simple websites. We engineer powerful technological solutions that integrate multiple systems to connect every piece of your business and help you run as efficiently as possible. We handle mobile applications, CRM integrations, online ordering systems, marketing automation, business processing automation, inventory management, and so much more!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="topbottompadding80 bluebg2">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="row">
                        <div class="col-sm-12 wow fadeIn xs-center" data-wow-duration="1s" data-wow-delay="0.2s">
                            <h4 class="text40 whitetext topmargin0 w700">Core Team</h4>
                            <p class="text16 w300 whitetext">We’re a nimble group with access to a large pool of vetted, experienced professionals from around the globe. We assemble a custom team of talented individuals for each project, based on the scope and required expertise. This saves our clients time and money, delivering your project on deadline and exactly as promised.</p>
                        </div>
                    </div>
                    <div class="row topmargin30">
                        <div class="col-lg-6 topmargin10 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
                            <div class="peoplebox" style="background-image: url(/assets//assets/images/zach.png)">
                                <h3 class="text24 w700 whitetext nomargin">Zach Aufort</h3>
                                <p class="text18 w700 whitetext">Owner & Systems Engineer</p>
                                <p class="text16 w300 whitetext ln25">Entrepreneur, founder and jack of all trades! Zach can design, manage and automate a multitude of systems for our clients using various infrastructure orchestration tools on multiple cloud providers.</p>
                            </div>
                        </div>
                        <div class="col-lg-6 topmargin10 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">
                            <div class="peoplebox" style="background-image: url(/assets//assets/images/muddassar.png)">
                                <h3 class="text24 w700 whitetext nomargin">Muddaser Ahmed</h3>
                                <p class="text18 w700 whitetext">Project Manager & Software Engineer</p>
                                <p class="text16 w300 whitetext ln25">Muddaser is a veteran computer engineer and leader of our software development team. He’s worked on everything from radio frequency optimization applications to marketing tools and cloud services.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="bigfeatures" style="background-image: url(/assets//assets/images/letschat.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h4 class="text40 whitetext w700 topmargin0">Let's Chat</h4>
                    <p class="text18 w700 whitetext ln30">We'd love to learn more about your business and how we can help!</p>
                    <a class="btn btn-blue topmargin10 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.6s" data-wow-duration="1s" data-wow-delay="0.6s" data-toggle="modal" data-target=".requestaquote">REQUEST A QUOTE</a> <a href="contactus.html" class="btn btn-blue2 leftmargin25 topmargin10 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.6s">CONTACT US</a> 
                </div>
            </div>
        </div>
    </section>
    
</div>