{{!< default}}


<div class="drawer drawer--right">
   <section class="topbottompadding50">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 topbottompadding30">
                    <div class="maintextbg">
                        <h1 class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">Mobile App Development</h1>
                        <p class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s">Discover how we can build your next great mobile app. No matter how diverse or complex your needs may be, we can get your app from idea to production with our proven development cycles and practices.</p>
                        <a href="https://calendly.com/puget-tech" class="btn btn-blue2 topmargin10 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">SCHEDULE CALL</a> <a class="btn btn-blue leftmargin25 topmargin10 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.6s" data-toggle="modal" data-target=".requestaquote">REQUEST A QUOTE</a> 
                    </div>
                </div>
                <div class="col-lg-6"> <img src="/assets/images/mobileapplicationimg.png" alt="Puget Tech" class="img-responsive wow zoomIn" data-wow-duration="1s" data-wow-delay="0.7s"> </div>
            </div>
        </div>
    </section>
    <section class="topbottompadding50 bluebg">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="row">
                        <div class="col-sm-4 text-center">
                            <img src="/assets/images/andriodapplication.png" alt="andriod application" class="img-responsive">
                        </div>
                        <div class="col-sm-8 xs-center toppadding50">
                            <h3 class="text40 w700 topmargin0">Android Development</h3>
                            <p class="text18 ln30 w300">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur pellentesque, neque venenatis aliquam hendrerit, nisi turpis gravida urna, ac imperdiet libero risus interdum tellus. Sed non dolor. Curabitur eget enim nec augue venenatis scelerisque. Integer mattis eros tincidunt sapien.</p>
                            <a class="btn btn-blue topmargin10" data-toggle="modal" data-target=".requestaquote">REQUEST A QUOTE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="topbottompadding50">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="row">
                        <div class="col-sm-8 xs-center toppadding50">
                            <h3 class="text40 w700 topmargin0">iPhone Development</h3>
                            <p class="text18 ln30 w300">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur pellentesque, neque venenatis aliquam hendrerit, nisi turpis gravida urna, ac imperdiet libero risus interdum tellus. Sed non dolor. Curabitur eget enim nec augue venenatis scelerisque. Integer mattis eros tincidunt sapien.</p>
                            <a class="btn btn-blue topmargin10" data-toggle="modal" data-target=".requestaquote">REQUEST A QUOTE</a>
                        </div>
                        <div class="col-sm-4 text-center">
                            <img src="/assets/images/iosdevelopment.png" alt="ios development" class="img-responsive">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="topbottompadding50 bluebg">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="row">
                        <div class="col-sm-4 text-center">
                            <img src="/assets/images/iphonex.png" alt="iphone x" class="img-responsive">
                        </div>
                        <div class="col-sm-8 xs-center toppadding50">
                            <h3 class="text40 w700 topmargin0">Native Applications</h3>
                            <p class="text18 ln30 w300">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur pellentesque, neque venenatis aliquam hendrerit, nisi turpis gravida urna, ac imperdiet libero risus interdum tellus. Sed non dolor. Curabitur eget enim nec augue venenatis scelerisque. Integer mattis eros tincidunt sapien.</p>
                            <p class="text18 ln30 w300">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur pellentesque, neque venenatis aliquam hendrerit, nisi turpis gravida urna, ac imperdiet libero risus interdum tellus. Sed non dolor. Curabitur eget enim nec augue venenatis scelerisque. Integer mattis eros tincidunt sapien.</p>
                            <a class="btn btn-blue topmargin10" data-toggle="modal" data-target=".requestaquote">REQUEST A QUOTE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="topbottompadding50">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="row">
                        <div class="col-sm-8 xs-center toppadding50">
                            <h3 class="text40 w700 topmargin0">Hybrid Applications</h3>
                            <p class="text18 ln30 w300">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur pellentesque, neque venenatis aliquam hendrerit, nisi turpis gravida urna, ac imperdiet libero risus interdum tellus. Sed non dolor. Curabitur eget enim nec augue venenatis scelerisque. Integer mattis eros tincidunt sapien.</p>
                            <a class="btn btn-blue topmargin10" data-toggle="modal" data-target=".requestaquote">REQUEST A QUOTE</a>
                        </div>
                        <div class="col-sm-4 text-center">
                            <img src="/assets/images/samsungs9.png" alt="ios development" class="img-responsive">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="bigfeatures" style="background-image: url(/assets/images/letschat.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h4 class="text40 whitetext w700 topmargin0">Let's Talk</h4>
                    <p class="text18 w700 whitetext ln30">We are excited to learn more! Start below and we'll follow-up within the next business day.</p>
                    <a class="btn btn-blue topmargin10 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.6s" data-wow-duration="1s" data-wow-delay="0.6s" data-toggle="modal" data-target=".requestaquote">REQUEST A QUOTE</a> <a href="contactus.html" class="btn btn-blue2 leftmargin25 topmargin10 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.6s">CONTACT US</a> 
                </div>
            </div>
        </div>
    </section>
</div>