{{!< default}}


<div class="drawer drawer--right">
    <section class="topbottompadding50">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 topbottompadding30">
                    <div class="maintextbg">
                        <h1 class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">Tailored Support</h1>
                        <p class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s">Over the years our team has worked on a range of software and web development projects. Below is a small sampling of some of our more interesting and challenging assignments.</p>
                        <a href="https://calendly.com/puget-tech" class="btn btn-blue2 topmargin10 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">SCHEDULE CALL</a> <a class="btn btn-blue leftmargin25 topmargin10 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.6s" data-toggle="modal" data-target=".requestaquote">REQUEST A QUOTE</a> 
                    </div>
                </div>
                <div class="col-lg-6"> <img src="/assets/images/plans.png" alt="Puget Tech" class="img-responsive wow zoomIn" data-wow-duration="1s" data-wow-delay="0.7s"> </div>
            </div>
        </div>
    </section>
    <section class="topbottompadding50 bluebg">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h3 class="text40 w700 topmargin0">Choose the Package as per your needs</h3>
                    <p class="text18 ln30 w300">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur pellentesque, neque.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1 toppadding30">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="planbox plan1 topmargin30">
                                <div class="plantop plantop1">
                                    <h2 class="text30 whitetext nomargin">Keep Support</h2>
                                    <p class="text14 w300 whitetext topmargin5">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur.</p>
                                </div>
                                <div class="planprice">
                                    <p class="text40 w700 whitetext nomargin"><span class="text20">$</span>650 <span class="text20">/mo</span></p>
                                </div>
                                <ul>
                                    <li><strong>40</strong> Development Hours</li>
                                    <li><strong>2</strong> Graphic Design Hours</li>
                                    <li><strong>1</strong> DevOps Hours</li>
                                    <li><strong>Unlimited</strong> Requests</li>
                                    <li><strong>Unlimited</strong> Revisions</li>
                                </ul>
                                <a href="#" class="btn btn-blue2">Get Started</a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="planbox plan2">
                                <div class="plantop plantop2">
                                    <h2 class="text30 whitetext nomargin">Executive Support</h2>
                                    <p class="text14 w300 whitetext topmargin5">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur.</p>
                                </div>
                                <div class="planprice">
                                    <p class="text40 w700 whitetext nomargin"><span class="text20">$</span>650 <span class="text20">/mo</span></p>
                                </div>
                                <ul>
                                    <li><strong>40</strong> Development Hours</li>
                                    <li><strong>2</strong> Graphic Design Hours</li>
                                    <li><strong>1</strong> DevOps Hours</li>
                                    <li><strong>Unlimited</strong> Requests</li>
                                    <li><strong>Unlimited</strong> Revisions</li>
                                </ul>
                                <a href="#" class="btn btn-blue3">Get Started</a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="planbox plan3 topmargin30">
                                <div class="plantop plantop3">
                                    <h2 class="text30 whitetext nomargin">VIP Support</h2>
                                    <p class="text14 w300 whitetext topmargin5">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur.</p>
                                </div>
                                <div class="planprice">
                                    <p class="text40 w700 whitetext nomargin"><span class="text20">$</span>650 <span class="text20">/mo</span></p>
                                </div>
                                <ul>
                                    <li><strong>40</strong> Development Hours</li>
                                    <li><strong>2</strong> Graphic Design Hours</li>
                                    <li><strong>1</strong> DevOps Hours</li>
                                    <li><strong>Unlimited</strong> Requests</li>
                                    <li><strong>Unlimited</strong> Revisions</li>
                                </ul>
                                <a href="#" class="btn btn-blue">Get Started</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="topbottompadding50">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h3 class="text40 w700 topmargin0">3S of Puget Tech</h3>
                    <p class="text18 ln30 w300">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur pellentesque, neque venenatis aliquam hendrerit, nisi turpis gravida urna, ac imperdiet libero risus interdum tellus. Sed non dolor. Curabitur eget enim nec augue venenatis scelerisque. Integer mattis eros tincidunt sapien.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="whitebox topmargin30 text-center">
                                <img src="/assets/images/satisfaction.png" alt="Features" class="img-responsive">
                                <h4 class="text24 w700">Satisfaction</h4>
                                <p class="text15 ln25 w300">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur pellentesque, neque venenatis aliquam hendrerit.</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="whitebox topmargin30 text-center">
                                <img src="/assets/images/support.png" alt="Features" class="img-responsive">
                                <h4 class="text24 w700">Support</h4>
                                <p class="text15 ln25 w300">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur pellentesque, neque venenatis aliquam hendrerit.</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="whitebox topmargin30 text-center">
                                <img src="/assets/images/shield.png" alt="Features" class="img-responsive">
                                <h4 class="text24 w700">Security</h4>
                                <p class="text15 ln25 w300">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur pellentesque, neque venenatis aliquam hendrerit.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="topbottompadding50 bluebg">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h5 class="text35 w700 nomargin">Frequently Asked Questions</h5>
                </div>
            </div>
            <div class="col-md-10 col-md-offset-1 topmargin30">
                <div class="row">
                    <div class="col-md-6">
                        <h6 class="text22 w700 bottommargin0">Question Title</h6>
                        <p class="text16 ln25 w300">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur pellentesque, neque venenatis aliquam hendrerit.</p>
                        <hr>
                        <h6 class="text22 w700 bottommargin0">Question Title</h6>
                        <p class="text16 ln25 w300">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur pellentesque, neque venenatis aliquam hendrerit.</p>
                        <hr>
                        <h6 class="text22 w700 bottommargin0">Question Title</h6>
                        <p class="text16 ln25 w300">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur pellentesque, neque venenatis aliquam hendrerit.</p>
                        <hr>
                        <h6 class="text22 w700 bottommargin0">Question Title</h6>
                        <p class="text16 ln25 w300">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur pellentesque, neque venenatis aliquam hendrerit.</p>
                        <hr>
                    </div>
                    <div class="col-md-6">
                        <h6 class="text22 w700 bottommargin0">Question Title</h6>
                        <p class="text16 ln25 w300">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur pellentesque, neque venenatis aliquam hendrerit.</p>
                        <hr>
                        <h6 class="text22 w700 bottommargin0">Question Title</h6>
                        <p class="text16 ln25 w300">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur pellentesque, neque venenatis aliquam hendrerit.</p>
                        <hr>
                        <h6 class="text22 w700 bottommargin0">Question Title</h6>
                        <p class="text16 ln25 w300">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur pellentesque, neque venenatis aliquam hendrerit.</p>
                        <hr>
                        <h6 class="text22 w700 bottommargin0">Question Title</h6>
                        <p class="text16 ln25 w300">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur pellentesque, neque venenatis aliquam hendrerit.</p>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="bigfeatures" style="background-image: url(/assets/images/letschat.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h4 class="text40 whitetext w700 topmargin0">Let's Chat</h4>
                    <p class="text18 w700 whitetext ln30">Impressed and ready to talk? Request a quote or contact us for a more thorough portfolio walkthrough.</p>
                    <a class="btn btn-blue topmargin10 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.6s" data-wow-duration="1s" data-wow-delay="0.6s" data-toggle="modal" data-target=".requestaquote">REQUEST A QUOTE</a> <a href="contactus.html" class="btn btn-blue2 leftmargin25 topmargin10 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.6s">CONTACT US</a> 
                </div>
            </div>
        </div>
    </section>
</div>