{{!< default}}


<div class="drawer drawer--right">
    <section class="topbottompadding50">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 topbottompadding30">
                    <div class="maintextbg">
                        <h1 class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">Selections of Our Work</h1>
                        <p class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s">Over the years our team has worked on a range of software and web development projects. Below is a small sampling of some of our more interesting and challenging assignments.</p>
                        <a href="https://calendly.com/puget-tech" class="btn btn-blue2 topmargin10 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">SCHEDULE CALL</a> <a class="btn btn-blue leftmargin25 topmargin10 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.6s" data-toggle="modal" data-target=".requestaquote">REQUEST A QUOTE</a> 
                    </div>
                </div>
                <div class="col-lg-6"> <img src="/assets/images/portfolioimg.png" alt="Puget Tech" class="img-responsive wow zoomIn" data-wow-duration="1s" data-wow-delay="0.7s"> </div>
            </div>
        </div>
    </section>
    <section class="topbottompadding50 bluebg" id="services">
        <div class="container">
            <div class="row">
                <div class="col-md-6"> <img src="/assets/images/stratumspheresaas.png" alt="Projects" class="img-responsive"> </div>
                <div class="col-md-6">
                    <h2 class="text35 w700 nomargin">Stratumsphere SaaS</h2>
                    <p class="text16 w300 ln30">Built in a Software-as-a-Service format spanning across multiple devices and regions, the Stratumsphere platform manages thousands of various blockchain mining machines in separate data centers scattered across the globe. As of November 2018, the platform was handling approximately 900,000 requests per day. Unlike most services that run one application server, Stratumsphere can manage as many application servers as the customer deploys with autoscaling and container orchestration technology.</p>
                    <p class="social"> <img src="/assets/images/react.png" alt="ReactJS"> <img src="/assets/images/nodejs.png" alt="Node.js"> <img src="/assets/images/java.png" alt="Java"> <img src="/assets/images/kubernetes.png" alt="Kubernetes"> <img src="/assets/images/aws.png" alt="Amazon Web Services"> <img src="/assets/images/postgresql.png" alt="PostgreSQL"> </p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-6"> <img src="/assets/images/floodmasters.png" alt="Projects" class="img-responsive"> </div>
                <div class="col-md-6">
                    <h2 class="text35 w700 nomargin">Flood Masters</h2>
                    <p class="text16 w300 ln30">This elegant website was developed for the reactive tradesman with effective calls-to-action, and a clever booking system, all designed to facilitate responsiveness. Built using Jekyll, the website loads fast which reduces bounce rates and improves search engine optimization (SEO).</p>
                    <p class="social"> <img src="/assets/images/html.png" alt="HTML"> <img src="/assets/images/css.png" alt="CSS"> <img src="/assets/images/jekyu.png" alt="Jekyll"> </p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-6"> <img src="/assets/images/cruptominingpool.png" alt="Projects" class="img-responsive"> </div>
                <div class="col-md-6">
                    <h2 class="text35 w700 nomargin">Blockchain Mining Pool</h2>
                    <p class="text16 w300 ln30">A cryptocurrency payment processor, scalable web application, and cryptographic hashing algorithm manager are just some of the components found in this complex service. From public mining pools to large blockchain mining data centers, this service is used with multiple clients (rebrandable).</p>
                    <p class="social"> <img src="/assets/images/nodejs.png" alt="Node.js"> <img src="/assets/images/c.png" alt="C Programming Language"> <img src="/assets/images/redis.png" alt="Redis"> <img src="/assets/images/dockers.png" alt="Docker"> <img src="/assets/images/postgresql.png" alt="PostgreSQL"> </p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-6"> <img src="/assets/images/nannyfinder.png" alt="Projects" class="img-responsive"> </div>
                <div class="col-md-6">
                    <h2 class="text35 w700 nomargin">Nanny Finder</h2>
                    <p class="text16 w300 ln30">We built this flexible, accessible childcare listings directory on Drupal. The site features cross device responsiveness, Google Maps integration, and a robust user rating system.</p>
                    <p class="social"> <img src="/assets/images/php.png" alt="PHP"> <img src="/assets/images/mysql.png" alt="MySQL"> <img src="/assets/images/drupal.png" alt="Drupal"> </p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-6"> <img src="/assets/images/wanteasy.png" alt="Projects" class="img-responsive"> </div>
                <div class="col-md-6">
                    <h2 class="text35 w700 nomargin">WantEasy Hosting</h2>
                    <p class="text16 w300 ln30">Designed on Joomla, this standard shared hosting and virtual private server business website is cross device responsive. It features a WHMCS theme integration as well as several API integrations with various hosting/infrastructure-related services.</p>
                    <p class="social"> <img src="/assets/images/php.png" alt="PHP"> <img src="/assets/images/mysql.png" alt="MySQL"> <img src="/assets/images/joomla.png" alt="Joomla"> </p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-6"> <img src="/assets/images/thegrandsandwich.png" alt="Projects" class="img-responsive"> </div>
                <div class="col-md-6">
                    <h2 class="text35 w700 nomargin">The Grand Sandwich</h2>
                    <p class="text16 w300 ln30">This WordPress restaurant website is SEO friendly and cross device responsive. The client wanted a bold, eccentric design that reflected the chain’s unique personality. Built with the user in mind the site effectively shapes the consumer’s experience with responsive design, relevant calls-to-action, and integrated business information.</p>
                    <p class="social"> <img src="/assets/images/php.png" alt="PHP"> <img src="/assets/images/mysql.png" alt="MySQL"> <img src="/assets/images/wordpress.png" alt="Wordpress"> </p>
                </div>
            </div>
        </div>
    </section>
    <section class="bigfeatures" style="background-image: url(/assets/images/letschat.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h4 class="text40 whitetext w700 topmargin0">Let's Chat</h4>
                    <p class="text18 w700 whitetext ln30">Impressed and ready to talk? Request a quote or contact us for a more thorough portfolio walkthrough.</p>
                    <a class="btn btn-blue topmargin10 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.6s" data-wow-duration="1s" data-wow-delay="0.6s" data-toggle="modal" data-target=".requestaquote">REQUEST A QUOTE</a> <a href="contactus.html" class="btn btn-blue2 leftmargin25 topmargin10 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.6s">CONTACT US</a> 
                </div>
            </div>
        </div>
    </section>
</div>