{{!< default}}


<div class="drawer drawer--right">
    <section class="topbottompadding80">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2 class="text40 w500 text-center topmargin0 bottompadding30">Privacy Policy</h2>
                    <p class="text18 w700 topmargin30 ln25">This Privacy Policy applies to all products, services, and websites (the “Services”) offered by Puget Tech, a State of Washington Limited Liability Company (referred to as “us,” “we,” “our,” “Provider”). </p>
                    <p class="text18 w300 ln25">Your privacy is important to us. We’ve laid out below what information we gather, how we use the information, and the limited circumstances when information may be shared. We recognize your right to confidentiality and are committed to protecting your privacy. We use the information that we collect to provide you with the best experience possible and to communicate with you about our products, services, and promotions. </p>
                    <p class="text18 w300 ln25">If you have any questions about this Privacy Policy, please feel free to contact us through our website or write to us at <a href="mailto:info@puget.tech">info@puget.tech</a>. </p>
                    <br>
                    <br>
                    <h3 class="text30 w700 bluetext">Personal Information </h3>
                    <h4 class="text22 w500 bottommargin0 topmargin30">Customer Data</h4>
                    <p class="text18 w300 ln25">In order to use the Services as a customer, you will need to input certain information to create a user account and to use our services, including, pictures of items, your name, email address, phone number, pick up and drop off address, and any other content that you submit to us (“Customer Data”). You are solely responsible for your Customer Data. You assume all risks associated with use of your Customer Data, including any reliance of its accuracy or completeness. Customer Data may include third party content, and you agree not to submit third party content unless you have the consent of the applicable third party owner of the content. Because you are solely responsible for your Customer Data, we make no guarantees regarding the accuracy, currency, or quality of any Customer Data. </p>
                    <h4 class="text22 w500 bottommargin0 topmargin30">User Data</h4>
                    <p class="text18 w300 ln25">Customer Data will collectively be referred to as “User Data” in this Agreement.</p>
                    <h4 class="text22 w500 bottommargin0 topmargin30"> Storage of data</h4>
                    <p class="text18 w300 ln25"> We encrypt and store your passwords on our secure servers. Your other information may not be encrypted. Credit card and bank information will be stored on separate secure servers that are maintained by a third-party payment system processor such as Stripe, Coastal Community Bank, or QuickBooks (collectively referred to as “Processor”).</p>
                    <h4 class="text22 w500 bottommargin0 topmargin30"> Personal Information from Minors</h4>
                    <p class="text18 w300 ln25"> We do not offer our Services to, or target, persons under the age of 18. In compliance with the Children's Online Privacy Protection Act, we will remove any information we receive from people we believe to be under the age of 13 from our database and cancel any corresponding accounts.</p>
                    <h4 class="text22 w500 bottommargin0 topmargin30"> Use of User Data</h4>
                    <p class="text18 w300 ln25"> We use User Data to create your account, communicate with you about the Services, offer additional products and services, bill for Services, and to the extent necessary to enforce our Terms and Condition or user agreements or contracts or other policies and to prevent imminent harm to people or property.</p>
                    <h4 class="text22 w500 bottommargin0 topmargin30"> Cookies</h4>
                    <p class="text18 w300 ln25"> We use “cookies” to collect certain information from all users, including website visitors who do not use or purchase anything from us. A cookie is a string of data that our system sends to your computer and then uses to identify your computer when you return to our Website. We use this information to better engage with our users and enhance their overall experience.</p>
                    <br>
                    <br>
                    <h3 class="text30 w700 bluetext">Sharing User Data</h3>
                    <h4 class="text22 w500 bottommargin0 topmargin30"> Disclosure of User Data</h4>
                    <p class="text18 w300 ln25"> We take reasonable steps to protect all of User Data against unauthorized access or release. We may share User Data (a) with our third party service providers; (b) if another company acquires our company, business, or assets, with such acquiring company; and as required by law and when we believe disclosure is reasonably necessary to comply with a judicial proceeding, court order, or legal process served on us, to protect our rights and the rights of our users, or to enforce or apply our Terms of Service or contracts or user agreements or other policies.</p>
                    <h4 class="text22 w500 bottommargin0 topmargin30"> Notice of Other Disclosure</h4>
                    <p class="text18 w300 ln25">Other than as detailed above, we will provide reasonable notice to you when your User Data might go to third parties, and you will have an opportunity to choose not to share User Data. </p>
                    <br>
                    <br>
                    <h3 class="text30 w700 bluetext">Security of User Data</h3>
                    <h4 class="text22 w500 bottommargin0 topmargin30"> Reviews and Updates to Security Measures</h4>
                    <p class="text18 w300 ln25"> We take appropriate security measures to protect against unauthorized access to or unauthorized alteration, disclosure or destruction of User Data. We do internal reviews of our data collection, storage, processing practices and security measures, including appropriate encryption and physical security measures to guard against unauthorized access to the systems where we store User Data. In addition, we restrict access to User Data to our employees, contractors, and agents who need to know certain information in order to process it on our behalf. These individuals and entities are bound by strict confidentiality obligations and may be subject to discipline, including termination and criminal prosecution, if they fail to meet these obligations. </p>
                    <h4 class="text22 w500 bottommargin0 topmargin30"> Payment Information</h4>
                    <p class="text18 w300 ln25"> When you purchase Services, your User Data and credit card or debit card information is processed, stored, and kept secure by Processor, a third-party credit card processing service. Your credit card information will be stored by Processor in their restricted-access database. However, no method of transmission over the Internet, or electronic storage is 100% secure, and we cannot guarantee its absolute security. We assume no responsibility or liability for damages resulting from Processor’s processing, storage, or other use of your credit or debit card information or any User Data. </p>
                    <h4 class="text22 w500 bottommargin0 topmargin30"> Security Breach</h4>
                    <p class="text18 w300 ln25"> If User Data is compromised as a result of a security breach, we will promptly notify you that your personal information may have been compromised via email, by posting a notice on our website, or as otherwise required by applicable law. </p>
                    <h4 class="text22 w500 bottommargin0 topmargin30">Third Party Advertisers and Linked Sites </h4>
                    <p class="text18 w300 ln25"> We may make third party applications, including add-ons to Our Services, available for you to use. The information we collect when you enable a third party application is processed under this Privacy Policy. Information collected outside of our website by a third party application provider, such as Google Analytics, is governed by the third party’s privacy policies. Our website may contain links to and from other sites operated and maintained by third parties. We have no responsibility for linked websites, and we provide these links solely for your convenience and information </p>
                    <br>
                    <br>
                    <h3 class="text30 w700 bluetext">Updating and Deleting User Data</h3>
                    <h4 class="text22 w500 bottommargin0 topmargin30">Changes to User Data </h4>
                    <p class="text18 w300 ln25"> You may request corrections, updates, or deletion of your User Data by contacting us at <a href="mail:info@puget.tech">info@puget.tech</a>. We will respond to your request within a reasonable amount of time from when you submit the request. Unless you request otherwise, we will retain your User Data for the purpose of providing the Services.   </p>
                    <br>
                    <br>
                    <h3 class="text30 w700 bluetext">Opting Out</h3>
                    <h4 class="text22 w500 bottommargin0 topmargin30"> Not Providing User Data</h4>
                    <p class="text18 w300 ln25"> You can choose not to provide User Data, although failing to provide User Data may prevent or inhibit your use of the Services and affect our ability to adequately respond to your requests.</p>
                    <h4 class="text22 w500 bottommargin0 topmargin30"> Opting Out of Emails</h4>
                    <p class="text18 w300 ln25"> If you do not want to receive e-mail or other mail from us, you can adjust your account settings to opt out of receiving such communications or by emailing <a href="mail:info@puget.tech">info@puget.tech</a>. </p>
                    <h4 class="text22 w500 bottommargin0 topmargin30"> Conditions of Use, Notices, and Revisions</h4>
                    <p class="text18 w300 ln25">  By using the Services, you consent to the collection, use, and disclosure of User Data according to the terms of this Privacy Policy. We reserve the right to modify or amend this Privacy Policy at any time. If we make material changes to this Privacy Policy, we will notify you by providing the updated Privacy Policy on our website, sending you an e-mail, or posting a notice on our website so that you are always aware of the information that we collect, how we use it, and under what circumstances we disclose it. Unless we clearly state otherwise, the changes to our Privacy Policy will affect only the information we collect after the effective date of the change.</p>
                    <br>
                    <br>
                    <p class="text18 w700 ln25">  If you have any questions or concerns regarding any of the terms of this Privacy Policy, please feel free to contact us at <a href="mail:info@puget.tech">info@puget.tech</a>.</p>
                    <br>
                    <br>
                    <p class="text18 w300 ln25 lightgrey">Last updated: November 21st, 2018</p>
                </div>
            </div>
        </div>
    </section>
</div>