{{!< default}}


<div class="drawer drawer--right">
    <section class="topbottompadding80">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2 class="text40 w500 text-center topmargin0 bottompadding30">Terms and Conditions</h2>
                    <h3 class="text30 w700">Acceptance </h3>
                    <p class="text18 w300 ln25">This terms and conditions Agreement constitutes a legal agreement between you (“Client”, “User,” “you,” or “your”) and Puget Tech, a State of Washington Limited Liability Company (the “Company,” “Operator,” “we,” “our,” or “us”). In order to use any of the services or items that we display on the Project Proposal (the “Project Proposal”), including the Scope of Work (the “Scope of Work”), or through our website <a href="https://puget.tech">https://puget.tech</a>, (collectively, the “Services”), you must agree to the terms and conditions that are provided below. </p>
                    <br>
                    <h3 class="text30 w700">Definitions </h3>
                    <p class="text18 w300 ln25"><strong>Agreement</strong> means the Project Proposal, Terms and Conditions, and any other documents associated with a project.</p>
                    <p class="text18 w300 ln25"> <strong>Project</strong> means the scope and purpose of the Client’s identified usage of the work product as described in the Project Proposal.</p>
                    <p class="text18 w300 ln25"> <strong>Deliverables</strong> means the services and work product specified in the Project Proposal to be delivered by the Company to the Client.</p>
                    <p class="text18 w300 ln25"> <strong>Final</strong> Deliverables means the final version of Deliverables provided by Company and accepted by Client.</p>
                    <p class="text18 w300 ln25"> <strong>Client Content </strong>means all materials, writing, images, or other creative content provided by the Client used in preparing or creating the Deliverables.</p>
                    <p class="text18 w300 ln25"> <strong>Third Party</strong> Materials means proprietary third party materials which are incorporated into the Final Deliverables, including without limitation stock photography or illustration</p>
                    <p class="text18 w300 ln25"> <strong>Company Tools</strong> means all software or design tools developed and/or used by Company in performing the Services, including pre-existing and newly developed software including source code, web authoring tools, type fonts, and application tools, together with any other software, or other inventions whether or not patentable, and general non-copyrightable concepts such as website design, architecture, layout, navigational and functional elements.</p>
                    <br>
                    <h3 class="text30 w700">Compensation </h3>
                    <p class="text18 w300 ln25"> Client agrees to pay Company the fees listed in the Project Proposal, including all taxes. Client will pay Company expenses, including but not limited to: (a) Incidental and out-of-pocket expenses at cost plus Company’s standard markup of 20%; (b) Mileage reimbursement, other than normal commuting, at $0.40 per mile; (c) Travel expenses, other than normal commuting, but including airfare and rental vehicles, with client approval. Pricing in the Project Proposal includes only Company fees. Any other costs, such as hosting, art licensing or photography, will be billed to Client.</p>
                    <br>
                    <h3 class="text30 w700">Payment </h3>
                    <p class="text18 w300 ln25">Payment is due before the Company starts each phase as listed in the Project Proposal's Work Plan. All invoices will be paid within 7 days of receipt and work will not begin on the next phase until the invoice is paid in full. Invoices shall list any expenses and additional costs as separate items.</p>
                    <br>
                    <h3 class="text30 w700">Late Payment </h3>
                    <p class="text18 w300 ln25">A monthly service fee of 10%, or the maximum allowed by law, is payable on all overdue balances. All grants of any license to use or transfer ownership of any intellectual property rights under this Agreement are conditioned on full payment, including all outstanding Additional Costs, Expenses, Fees, or any other charges.</p>
                    <br>
                    <h3 class="text30 w700"> Changes to Project Scope</h3>
                    <p class="text18 w300 ln25">If Client wants to change the Scope of Work after acceptance of this Agreement, Client shall send Company a written Change Order describing the requested changes in detail. Within 5 days of receiving a Change Order, Company will respond with a statement proposing Company’s availability, additional fees, changes to delivery dates, and any modification to the Terms and Conditions. Company will evaluate each Change Order at its standard rate and charges. Client will be billed on a time and materials basis at Company’s hourly rate of $105 per hour. Such charges shall be in addition to all other amount payable under this Agreement, despite any maximum budget, contract price or final price identified. Company may extend or modify any delivery schedule or deadlines in the Agreement as may be required by such changes. Client will have 5 days to respond in writing accepting or rejecting the new proposal. If Client rejects the proposal, Company will not be obligated to perform any services beyond those in the original Agreement.</p>
                    <br>
                    <h3 class="text30 w700"> Delay</h3>
                    <p class="text18 w300 ln25">Client shall use all reasonable efforts to provide needed information, materials and approvals. Any delay by Client will result in a day-for-day extension of the due date for all Deliverables. Any delay caused be conditions beyond the reasonable control of the parties shall not be considered a breach and will result in a day-for-day extension any performance due. Each party shall use reasonable efforts to notify the other party, in writing, of a delay. Conditions beyond the reasonable control of the parties include, but are not limited to, natural disasters, acts of government after the date of agreement, power failure, fire, flood, acts of God, labor disputes, riots, acts of war, terrorism and epidemics.</p>
                    <br>
                    <h3 class="text30 w700"> Evaluation and Acceptance</h3>
                    <p class="text18 w300 ln25">Client shall, within 3 business days after receiving each Deliverable, notify Company in writing of any failure to comply with the specification of the Project Proposal or of any other objections, corrections or changes required. Company shall, within 5 business days of receiving Clients notification, correct and submit a revised Deliverable to Client. Client shall, within 3 business days of receiving a revised Deliverable, either approve the corrected version or make further changes. If after 5 corrections by Company, Client finds the Deliverables are not acceptable, Client may terminate this agreement subject to the termination clauses of this Agreement. If Client fails to provide approval or comments during any approval period, those Deliverables will be considered approved and accepted. All objections, corrections and changes shall be subject to the terms and conditions of this Agreement.</p>
                    <br>
                    <h3 class="text30 w700"> Search Engines</h3>
                    <p class="text18 w300 ln25">All web related items designed by Company are search engine friendly. However, Company does not guarantee any specific position in search engine results for Client’s web related item. Company can perform search engine optimization utilizing current best practices at an additional cost if not outlined within the Project Proposal.</p>
                    <br>
                    <h3 class="text30 w700"> Server Hosting and Infrastructure</h3>
                    <p class="text18 w300 ln25">
                        Server Hosting and Infrastructure services are managed by the Company and require an additional subscription that the Client will be invoiced for accordingly. Server Hosting and Infrastructure is maintained by third-party providers and fall under said third-party’s Terms of Service, Acceptable Use Policy, and/or other related agreements. No guarantees can be made by the Company as to the availability or interruption of the third-party provider. Company cannot accept liability for losses caused by the unavailability, malfunction or interruption of the third-party provider, or for loss of turnover, sales, revenue, profits or indirect, consequential or special loss. Company and third-party provider reserves the right to refuse to host and handle in any way, material which may be deemed offensive, pornograhic, illegal or in any way controversial, and also to terminate the hosting service should the necessity arise. If the Project requires more server resources or network bandwidth than initially planned, the subscription will be modified and billed accordingly after Client’s written approval.
                    </p>
                    <br>
                    <h3 class="text30 w700"> Accreditation and Promotion</h3>
                    <p class="text18 w300 ln25">Company shall be entitled to place accreditation, as a hyperlink, in the form, size and location as incorporated by Company in the Deliverables on each page of the Final Deliverables. Company retains the right to reproduce, publish and display the Deliverables in Company’s portfolios and websites, in galleries, design periodicals and other media or exhibits for the purposes of recognition of creative excellence or professional advancement, and to be credited with authorship of the Deliverables in connection with such uses.</p>
                    <br>
                    <h3 class="text30 w700">Confidential Information
                    </h3>
                    <p class="text18 w300 ln25">All material considered confidential by either party shall be designated as confidential. Confidential Information shall not be disclosed to third parties and shall only used as needed to perform this Agreement. Confidential Information shall not include any information that is already known by the recipient, becomes publicly known through no fault of the recipient, or is received from a third party without a restriction on disclosure.</p>
                    <br>
                    <h3 class="text30 w700">Relationship to the Parties
                    </h3>
                    <p class="text18 w300 ln25">Company is a contractor. Company shall determine, in its sole discretion, the manner and means by which the Services are accomplished. No agency, partnership, joint venture, or employee-employer relationship is intended or created by this Agreement. Neither party is authorized to act as agent or bind the other party except as expressly stated in this Agreement. Company and the work product or Deliverables prepared by Company shall not be deemed a work for hire as defined under Copyright Law. All rights granted to Client are contractual in nature and are expressly defined by this Agreement.</p>
                    <br>
                    <h3 class="text30 w700">Representation and Warranties
                    </h3>
                    <p class="text18 w300 ln25">Client represents and warrants to Company that to the best of Client’s knowledge, use of the Client Content does not infringe the rights of any third party. Company represents and warranty to Client that to the best of Company’s knowledge, the Deliverables will not violate the rights of any third parties.</p>
                    <p class="text18 w300 ln25">EXCEPT FOR THE EXPRESS REPRESENTATIONS AND WARRANTIES STATED IN THIS AGREEMENT, COMPANY MAKES NO WARRANTIES WHATSOEVER. COMPANY EXPLICITLY DISCLAIMS ANY OTHER WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE OR COMPLIANCE WITH LAWS OR GOVERNMENT RULES OR REGULATIONS APPLICABLE TO THE PROJECT.</p>
                    <br>
                    <h3 class="text30 w700"> Indemnification and Liability</h3>
                    <p class="text18 w300 ln25">Client shall indemnify Company from any and all damages, liabilities, costs, losses, expenses or attorney fees arising out of any claim, demand, or action by a third party due to materials included in Deliverables at the request of the Client.</p>
                    <p class="text18 w300 ln25">THE SERVICES AND THE WORK PRODUCT OF COMPANY ARE SOLD “AS IS.” IN ALL CIRCUMSTANCES, THE MAXIMUM LIABILITY OF COMPANY, ITS DIRECTORS, OFFICERS, EMPLOYEES, DESIGN AGENTS AND AFFILIATES (“COMPANY PARTIES”), TO CLIENT FOR DAMAGES FOR ANY AND ALL CAUSES WHATSOEVER, AND CLIENT’S MAXIMUM REMEDY, REGARDLESS OF THE FORM OF ACTION, WHETHER IN CONTRACT, TORT OR OTHERWISE, SHALL BE LIMITED TO THE TOTAL PAID INVOICED AMOUNT BY SAID CLIENT. IN NO EVENT SHALL COMPANY BE LIABLE FOR ANY LOST DATA OR CONTENT, LOST PROFITS, BUSINESS INTERRUPTION OR FOR ANY INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL, EXEMPLARY OR PUNITIVE DAMAGES ARISING OUT OF OR RELATING TO THE MATERIALS OR THE SERVICES PROVIDED BY COMPANY, EVEN IF COMPANY HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES, AND NOTWITHSTANDING THE FAILURE OF ESSENTIAL PURPOSE OF ANY LIMITED REMEDY.</p>
                    <br>
                    <h3 class="text30 w700">Term and Termination
                    </h3>
                    <p class="text18 w300 ln25">This agreement shall begin when both parties sign and shall continue until all Services are complete and delivered, or until the Agreement is Terminated. Either party may terminate this agreement at any time, on 30 days prior written notice if the other party breaches any of its material responsibilities or obligations under this Agreement and fails to cure that breach during that 30 day period. Either party may terminate this agreement at any time, on written notice to the other party, if the other party ceases to conduct business in its normal course; makes an assignment for the benefit of creditors; is liquidated or otherwise dissolved; becomes insolvent; files a petition in bankruptcy; or a receiver, trustee, or custodian is appointed for it. In the event of termination, Client shall pay Company for the Services performed through the date of termination in the amount of a prorated portion of the fees due. Client shall pay all Expenses, Fees, and Additional Costs incurred through the date of termination.</p>
                    <br>
                    <h3 class="text30 w700"> License</h3>
                    <p class="text18 w300 ln25">Company grants to Client a non-exclusive, perpetual and worldwide license to use and display the Final Deliverables in accordance with this Agreement. The rights granted to Client are for use of the Final Deliverables in its original form only. Client may not change, create derivative works or extract portions of the Final Deliverables.</p>
                    <br>
                    <h3 class="text30 w700"> Preliminary Works</h3>
                    <p class="text18 w300 ln25">Company retains all rights in and to all Preliminary Works. Client shall return all Preliminary Works to Company within thirty (30) days of completion of the Services. All Company Tools are and shall remain the exclusive property of Company. Company grants Client a nonexclusive, nontransferable, perpetual, worldwide license to use the Company Tools solely to the extent necessary with the Final Deliverables for the Project.</p>
                    <br>
                    <h3 class="text30 w700"> Support Services</h3>
                    <p class="text18 w300 ln25">During the first 6 months following delivery of the Final Deliverables, Company shall provide up to 5 hours of Support Services at no additional cost to Client. Support Services means commercially reasonable technical support and assistance to maintain and update the Final Deliverables, including correcting any errors or Deficiencies. Requests for additional support will be billed on a time and materials basis at Company’s standard rate. The support service does not include enhancements to the Project or other services outside the Project Proposal.
                        <br>
                        Client’s that utilize Company’s managed Server Hosting and Infrastructure will be provided with an additional 1 hour of Support Services every month for as long as their subscription remains active. Hours do not accumulate overtime and are limited to use within that month.
                    </p>
                    <br>
                    <h3 class="text30 w700">Alterations </h3>
                    <p class="text18 w300 ln25">Alteration of any Deliverable is prohibited without the express permission of Company. Company will be given the first opportunity to make the required alterations. Unauthorized alterations shall constitute additional use and will be billed accordingly.</p>
                    <br>
                    <h3 class="text30 w700"> Dispute Resolution</h3>
                    <p class="text18 w300 ln25">Parties agree to attempt to resolve any dispute by negotiation between the parties. If parties are unable to resolve the dispute by negotiation, either party may start mediation and/or binding arbitration in a forum mutually agreed to by the parties. The prevailing party shall be entitled to recover its attorneys’ fees and costs in any dispute resolved by binding arbitration or litigation.</p>
                    <br>
                    <h3 class="text30 w700">General </h3>
                    <p class="text18 w300 ln25">Modifications to this Agreement must be in writing and signed by both parties. Failure by either party to enforce any right or seek to remedy any breach under this Agreement shall not be construed as a waiver of such rights nor shall a waiver by either party of default in one or more instances be construed as constituting a continuing waiver or as a waiver of any other breach. All notices under this Agreement shall be given in writing either by: (a) Email, with return confirmation of receipt; (b) Certified or Registered mail, with return receipt requested. Notice will be effective when received, or in the case of email, on confirmation of receipt. Rights or obligations under this Agreement shall not be transferred, assigned or encumbered without the prior written consent of the other party. This Agreement shall be governed by the law of The State of Washington. If any provision of this Agreement is held invalid or unenforceable, the remainder of this Agreement shall remain in full force and effect. Where possible the invalid or unenforceable provision shall be interpreted in such manner as to be effective and valid under applicable law. Headings and numbering used in this Agreement are for convenience and reference only and shall not affect the scope, meaning, intent or interpretation of this Agreement, and shall not have any legal effect. This Agreement is the entire understanding of the parties and supersedes all prior understandings and documents relating to the subject matter of this Agreement.</p>
                    <br>
                    <br>
                    <p class="text18 w700 ln25">  If you have any questions or concerns regarding these Terms and Conditions, please feel free to contact us at <a href="mail:info@puget.tech">info@puget.tech</a>.</p>
                    <br>
                    <br>
                    <p class="text18 w300 ln25 lightgrey">Last updated: November 21st, 2018</p>
                </div>
            </div>
        </div>
    </section>
</div>